<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Api tester</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div id="api-tester">
    <div class="container">
        <div class="row" class="request-list" v-if="data">
            <template v-for="(path, pathKey) in data.paths">
                <div class="request col-12 border border-primary mb-3 rounded" v-for="(request, type) in path">
                    <div class="request__header py-2 clearfix"
                         data-toggle="collapse"
                         :aria-controls="`${request.operationId}`"
                         aria-expanded="false"
                         :data-target="`#${request.operationId}`">
                            <div class="no-margin alert alert-primary col-1">
                                {{type}}
                            </div>
                            <bold>
                                {{pathKey}}
                            </bold>
                            <span>
                                {{request.summary}}
                            </span>
                    </div>
                    <div class="request__body collapse multi-collapse" :id="request.operationId">
                        <button @click="sendRequest(request, pathKey, type)">Запрос</button>
                    </div>
                </div>
            </template>
        </div>
        </div>
    </div>
<script src="./js/jquery-3.5.1.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./node_modules/vue/dist/vue.min.js"></script>
<script src="./js/index.min.js"></script>
</body>
</html>
